/*White Box: Eastern Adventures
Hireling css*/

body{
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
}


#character_sheet{
    width: 1000px;
    height: auto;
	display: block;
}

#left1{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 500px;
}

#right1{
	position:absolute;
	top: 0px;
	left: 500px;
	width: 500px;
}

#left2{
	position:absolute;
	top: 216px;
	left: 0px;
	width: 500px;
	
}

#right2{
	position:absolute;
	top: 216px;
	left: 500px;
	width: 500px;
	
}


#left3{
	position:absolute;
	top: 432px;
	left: 0px;
	width: 500px;
	
}

#right3{
	position:absolute;
	top: 432px;
	left: 500px;
	width: 500px;
	
}

#left4{
	position:absolute;
	top: 648px;
	left: 0px;
	width: 500px;
	
}

#right4{
	position:absolute;
	top: 648px;
	left: 500px;
	width: 500px;
	
}

#left5{
	position:absolute;
	top: 864px;
	left: 0px;
	width: 500px;
	
}

#right5{
	position:absolute;
	top: 864px;
	left: 500px;
	width: 500px;
	
}


#left5{
	position:absolute;
	top: 1080px;
	left: 0px;
	width: 500px;
	
}

#right5{
	position:absolute;
	top: 1080px;
	left: 500px;
	width: 500px;
	
}

#ac0, #ac1, #ac2, #ac3, #ac4, #ac5, #ac6, #ac7, #ac8, #ac9,  #ac10, #ac11{
    position: absolute;
    top: 71px;
    left: 65px;
    font-size: 1em;
}


#move0, #move1, #move2, #move3, #move4, #move5, #move6, #move7, #move8, #move9,  #move10, #move11{
    position: absolute;
    top: 160px;
    left: 65px;
    font-size: 1.2em;
}




#sex0, #sex1, #sex2, #sex3, #sex4, #sex5, #sex6, #sex7, #sex8, #sex9, #sex10, #sex11{
    position: absolute;
    top: 33px;
    left: 275px;
    font-size: 1em;
}



#age0, #age1, #age2, #age3, #age4, #age5, #age6, #age7, #age8, #age9, #age10, #age11{
    position: absolute;
    top: 33px;
    left: 350px;
    font-size: 1em;
}


#name0, #name1, #name2, #name3, #name4, #name5, #name6, #name7, #name8, #name9, #name10, #name11{
    position: absolute;
    top: 33px;
    left: 34px;
    font-size: 1em;
}

#personality0, #personality1, #personality2, #personality3, #personality4, #personality5, #personality6, #personality7, #personality8, #personality9, #personality10, #personality11{
    position: absolute;
    top: 145px;
    left: 140px;
    font-size: 0.8em;
    width: 350px;
}


#height0, #height1, #height2, #height3, #height4, #height5, #height6, #height7, #height8, #height9, #height10, #height11{
    position: absolute;
    top: 87px;
    left: 180px;
    font-size: 1em;
}

#weight0, #weight1, #weight2, #weight3, #weight4, #weight5, #weight6, #weight7, #weight8, #weight9, #weight10, #weight11{
    position: absolute;
    top: 87px;
    left: 275px;
    font-size: 1em;
}


#physical0, #physical1, #physical2, #physical3, #physical4, #physical5, #physical6, #physical7, #physical8, #physical9, #physical10, #physical11{
    position: absolute;
    top: 110px;
    left: 140px;
    font-size: 0.8em;
}

#hitDice0, #hitDice1, #hitDice2, #hitDice3, #hitDice4, #hitDice5, #hitDice6, #hitDice7, #hitDice8, #hitDice9,  #hitDice10, #hitDice11{
    position: absolute;
    top: 130px;
    left: 65px;
    font-size: 1.2em;
}


#hp0, #hp1, #hp2, #hp3, #hp4, #hp5, #hp6, #hp7, #hp8, #hp9, #hp10, #hp11{
    position: absolute;
    top: 99px;
    left: 72px;
    font-size: 1.2em;
}


#save0, #save1, #save2, #save3, #save4, #save5, #save6, #save7, #save8, #save9, #save10, #save11{
    position: absolute;
    top: 189px;
    left: 65px;
    font-size: 1.2em;
}


#literacy0, #literacy1, #literacy2, #literacy3, #literacy4, #literacy5, #literacy6, #literacy7, #literacy8, #literacy9, #literacy10, #literacy11{
    position: absolute;
    top: 190px;
    left: 140px;
    font-size: 0.8em;
    width: 350px;
}